#logo-main{
	width: 300px;
	display: block;
	margin:20px auto;
}

@font-face {
    font-family: 'gotic';
    src: url(../fonts/century.ttf);
}
.over-fixed-header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	background-color: white;
}
.contenido-fixed{
	padding-top: 157px;
}
body{
	font-family: 'gotic';
}
.nav-site-scroll{  
text-align: center;}
.nav-site-scroll ul{
	border-bottom: 2px solid #58585a;
	padding-bottom: 8px;
	padding-left: 0px;
}
.btn-custom{
	background-color: #58585a;
	color: white;
	border-radius: 0px;
	padding: 7px 15px;

}
.btn-custom:hover{
	color: white;
}

.nav-site-scroll ul li{ 
display: inline-block;
vertical-align: top;
padding-left: 20px;
padding-right: 20px; 
font-size: 18px;
cursor: pointer;
color:#58585a;}
/*
.list-country-name{
	text-align: center;
}
.list-country-name li{
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 8px;padding-right: 8px;
}
.list-country-pic {text-align: center;}
.list-country-pic li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
}
*/
.box-rel{
	position: relative;
}
.img-banderas-full {
	width: 100%;
}
.img-mapa{
	/*width: 700px;
	margin-left: 230px;*/
	width: 59%;
	margin-left: 24%;
}
.img-sello{
	width: 250px;
	position: absolute;
	right: 90px;
	top: 10px;
}
.img-sello-2{
	width: 250px;
	position: absolute;
	right: 5px;
	top: 10px;
	}
.text-mapa{
position: absolute;
top: 105px;
left: 33px;
}
.img-bebe
{width: 100%;}
.over-mapa{
	position: relative;
}
.title-type-1{
	text-align: center;
	color:#58585a;
	font-size: 34px;
	padding-top: 18px;
	padding-bottom: 18px;
}
.text-type-1{
	font-size: 18px;
	line-height: 2;
	margin-bottom: 25px;
	text-align: justify;
}
.text-type-1 strong{
	font-weight: bold;
}
.bloque-seccion
{
	margin-bottom: 40px;
}
.center-box{
	width: 100%;
	max-width: 1100px;
	margin:0 auto;
}

.center-text{
	text-align: center;
	font-size: 22px;
}
.secion-marcas
{
	margin-top: 30px;
	margin-bottom: 60px;
}
.item-50{
	width: 50%;
	float: left;
	text-align: center;

}
.item-50 img{
	width: 60%;
}
	.nav-ico{
		display: none;
	}

.form-control{
	border-radius: 0px;
}
.over-carrusel{
	position: relative;
}
.prev{
	position: absolute;
	left: -70px;
	top: 36%;
	cursor: pointer;
}
.next{
	cursor: pointer;
	position: absolute;
	right: -70px;
	top: 36%;
}
/*

@media (max-width: 700px){
	li.nav-ico{
		text-transform: uppercase;
		display: block!important;
vertical-align: top;
padding-left: 20px;
padding-right: 20px; 
font-size: 18px;
cursor: pointer;

    background-color: gray;
    color: white;
    margin-bottom: 14px;
    padding: 4px 13px;
    
	}
	.nav-site-scroll ul{display: none;border:0px solid transparent;}
	.nav-site-scroll li{
		display: block!important;
		text-align: right;
	}
}
@media (max-width: 600px){
	.secion-marcas{text-align: center;}
	.secion-marcas img{display:inline-block;margin-bottom: 20px;}
}*/
.dots{text-align: center;
padding: 10px;
display: block;
width: 100%;
margin-top: 20px;}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
	border: 2px solid gray;
	box-sizing: border-box;
	cursor: pointer;
}
.dot-active{
	background-color: gray;
}
@media (min-width: 768px){
	/*.container{
		width: 90%;
	}*/
	.img-mapa{
	width: 60%;
	margin-left: 230px;
}

}